.navbar img:first-of-type{
    width: 50px;
    height: 50px;
}
#myself img:first-of-type{
    width: 200px;
    height: auto;
}
body{
    background-color: rgb(126, 73, 123);
}
button[type="submit"]{
    margin-top: 10px;
}

h2{
    color: white;
}

.containera, .containerc, .containerprojecten{
    background-color: rgb(33, 37, 41);
    padding: 50px;
    border-radius: 15px;
    color: white;
}
.containerprojecten, .containera{
    margin: 50px;
}

.containerc{
    margin-left: 50px;
    margin-right: 50px;
}

.naam-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.naam-container h3 + h3 {
    margin-left: 10px;
}

.naam-container h3 {
    white-space: nowrap;
}