.navbar img:first-of-type{
    width: 50px;
    height: 50px;
}
#myself img:first-of-type{
    width: 200px;
    height: auto;
}
button[type="submit"]{
    margin-top: 10px;
}

h2{
    color: white;
}

.containera, .containerc, .containerprojecten{
    background-color: #212529;
    padding: 50px;
    border-radius: 15px;
    color: white;
}
.containerprojecten, .containera{
    margin: 50px;
}

.containerc{
    margin-left: 50px;
    margin-right: 50px;
}

.naam-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.naam-container h3 + h3 {
    margin-left: 10px;
}

.naam-container h3 {
    white-space: nowrap;
}

#skills img{
    width: auto;
    height: 30px;
}

body {
    background-color: darkred;
}

.progress-bar {
    background: linear-gradient(90deg, #1e5799, #2ce0bf, #76dd2c, #dba62b, #e02cbf, #1e5799);
    background-size: 200% 100%;
    animation: bar 7s linear infinite;
    animation-direction: alternate;
}

@keyframes bar {
    0% {
        background-position: 0% 0;
    }
    
    100% {
        background-position: 100% 0;
    }
}
